
/* responsive */

/* 991px */
@media (max-width:991px){
    /* Navbar.jsx */
  
    .nav-ul-info{
      height: 50px;
      width: 35% !important;
      padding: 0%;
    }
    nav{
      height:70px;
      width: 100% !important;
    } 
    .nav-sign{
      height: 50px;
      padding: 0%;
      width: 70% !important;
    }

    /* dashboard.jsx */
    .para-data{
      font-size: 1.25rem !important;
      padding: 1rem  !important;
      text-align: justify !important;
    }
    .bookingstep{
      height: 500px !important;
      width: 70% !important;
    }
    .ol-dash{
      height: 275px !important;
      width: 85% !important;
    }

    /* booking.jsx */
    
    .log{
      width: 100% !important;
    }

    .book-detail{
      height: 500px !important;
      width: 85% !important;
      display: flex !important;
      justify-content: center !important;
    }
    .bookimg{
      height: 200px !important;
      width: 300px !important;
    }
    .loc_detail{
      height: 330px !important;
      width: 85% !important;
      display: flex !important;
      justify-content: space-evenly !important;
    }

    /* train.jsx */

    
/* luggage.jsx */

    /* footer.jsx */

    .social{
      width: 40% !important;
    }

    .footer-ul{
      width: 40% !important;
    }

    /* coolie.jsx */
    
    .whoweare-data{
      height: 25vh !important;
      width: 60% !important;
    }
    .whoweare-img{
      height: 30vh !important;
      width: 35% !important;
    }
    .container{
      height: 40vh !important;
      width: 100%;
    }

    
    /* book.jsx */

    .bar{
      width: 60% !important;
    }

    /* .progress{
      width: 100% !important;
    } */

    /* .prog-bar{
      width: 100% !important;

    } */
    

  }




    /* 768 */
  @media (max-width:768px){
    /* Navbar.jsx */
  
    .nav-ul-info{
      height: 50px;
      width: 50% !important;
      padding: 0%;
    }
    nav{
      height:70px;
      width: 100% !important;
    } 
    .nav-sign{
      height: 50px;
      padding: 0%;
      width: 85% !important;
    }

    /* dashboard.jsx */
    .para-data{
      font-size: 1.20rem !important;
      padding: 1rem  !important;
      text-align: justify !important;
    }
    .bookingstep{
      height: 450px !important;
      width: 90% !important;
    }
    .ol-dash{
      height: 300px !important;
      width: 70% !important;
    }

    .font3{
      font-size: 30px !important;
      font-weight: 700;
    }

    /* booking.jsx */

    .book-detail{
      height: 500px !important;
      width: 95% !important;
      display: flex !important;
      justify-content: center !important;
    }
    .bookimg{
      height: 150px !important;
      width: 250px !important;
    }
    .font-booking{
      font-size: 40px !important;
    }
    .loc_detail{
      height: 330px !important;
      width: 95% !important;
      display: flex !important;
      justify-content: space-evenly !important;
    }

    /* train.jsx */

    
/* luggage.jsx */

.inp-lag{
  height: 250px !important;
  width: 325px !important;
  padding-left: 110px !important;
  font-size: 90px !important;
}
.range-lag{
  width: 325px !important;
}
    /* footer.jsx */

    .social{
      width: 50% !important;
    }

    .footer-ul{
      width: 50% !important;
    }
    
    /* coolie.jsx */
    .whoweare-img{
      height: 50vh !important;
      width: 35% !important;
    }
    .container{
      height: 50vh !important;
      width: 100%;
    }
    .whoweare-data{
      width: 60% !important;
    }
    .whoweare-img{
      width: 35% !important;
      height: 40vh !important;
    }

    .font1{
      font-size: 50px !important;
    }

    .hero-info{
      width: 475px !important;
    }

    .hero-data{
      padding: 70px 0px 0px 60px !important;
    }

    /* book.jsx */
      
    .bar{
      width: 70% !important;
    }
    

  }



  @media (max-width:576px){
    /* Navbar.jsx */
  
    .nav-info{
      text-align: center !important;
      margin-right: 8px !important;
    }
    .nav-ul-info{
      height: 50px;
      width: 60% !important;
      padding: 0%;
    }
    nav{
      height:70px;
      width: 100% !important;
    } 
    .nav-sign{
      height: 50px;
      padding: 0% !important;
      width: 80% !important;
    }

    /* dashboard.jsx */
    .para-data{
      font-size: 1rem !important;
      /* padding: 1rem  !important; */
      text-align: justify !important;
    }
    .bookingstep{
      height: 450px !important;
      width: 90% !important;
    }
    .ol-dash{
      height: 275px !important;
      width: 70% !important;
    }

    .font3{
      font-size: 30px !important;
      font-weight: 700;
    }

    /* booking.jsx */

    .bookimg{
      height: 100px !important;
      width: 200px !important;
    }
    .font-booking{
      font-size: 35px !important;
    }

    /* train.jsx */
    .log{
      width: 100% !important;
    }

    /* luggage.jsx */


    .inp-lag{
      height: 250px !important;
      width: 325px !important;
      padding-left: 110px !important;
      font-size: 90px !important;
    }
    .range-lag{
      width: 325px !important;
    }

    /* footer.jsx */

    .social{
      width: 60% !important;
    }

    .footer-ul{
      width: 60% !important;
    }
    

  
    
    /* coolie.jsx */
    .res-who{
      height: 70vh !important;
      display: flex !important;
      flex-direction: column-reverse !important;
      align-items: center !important;
    }
    
    .para-data{
      font-size: 1rem !important;
    }
    .whoweare-img{
      width: 45% !important;
    }
    .container{
      height: 50vh !important;
      width: 100%;
    }
    .whoweare-data{
      width: 50% !important;
    }
    #res-who-img{
      height: 23vh !important;  
    }


    .hero-info{
      width: 400px !important;
    }
    .hero-data{
      padding: 90px 0px 0px 50px !important;
    }
    
    .hero-btn{
      margin-top: 0px !important;
    }

    /* book.jsx */
      
    .bar{
      width: 80% !important;
    }

    
  
  }

  @media (max-width:480px){
    /* Navbar.jsx */
    .logo{
      height: 100px !important;
      width: 100px !important;
    }

    .nav-logo{
      height: 40px !important;
      width: 40px !important;
      object-fit: contain;
      border-radius: 50%;
    }

    .logo-img{
      height: 100px !important;
      width: 100px !important;
      object-fit: contain;
    }
    .nav-ul-info{
      height: 50px;
      width: 85% !important;
      padding: 0%;
      text-align: center;
    }
    nav{
      height:70px;
      width: 152% !important;
    } 
    .nav-sign{
      height: 50px;
      width: 95% !important;
    }

    /* dashboard.jsx */
    .para-data{
      font-size: 1rem !important;
      /* padding: 1rem  !important; */
      text-align: justify !important;
    }
    .bookingstep{
      height: 500px !important;
      width: 90% !important;
    }
    .ol-dash{
      height: 275px !important;
      width: 70% !important;
    }

    .font3{
      font-size: 25px !important;
      font-weight: 700;
    }
    
    .log-btn{
      height: 35px !important;
      width: 70% !important;
    }

    .log{
      background-color: #ff9999;
      height: 90vh !important;
      width: 100% !important;
    }

    .dash{
      width: 125% !important;
    }

    /* booking.jsx */

    .bookimg{
      height: 115px !important;
      width: 180px !important;
    }
    .log-booking{
      width: 125% !important;
    }
    .font-booking{
      font-size: 25px !important;
    }

    /* train.jsx */
    .log{
      display: flex !important;
      justify-content: center !important;
      align-items: center;
      width: 125% !important;
    }
    .logDetail{
      height: 400px !important;
      width: 400px !important;
    }
    .inp-log{
      height: 50px !important;
      width: 300px !important;
    }
    /* luggage.jsx */
  .font-lug{
    font-size: 1.5rem !important;
  }
  .inp-lag{
    height: 225px !important;
    width: 290px !important;
    padding-left: 110px !important;
    font-size: 90px !important;
  }
  .range-lag{
    width: 290px !important;
  }

  /* footer.jsx */

  footer{
    width: 125% !important;
  }

  .social{
    width: 70% !important;
  }

  .footer-ul{
    width: 70% !important;
  }
  
  /* coolie.jsx */

  .res-who{
    height: 70vh !important;
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
  }
  
  .whoweare-img{
    width: 45% !important;
  }
  .container{
    height: 50vh !important;
    width: 100%;
  }
  .whoweare-data{
    width: 50% !important;
  }
  #res-who-img{
    height: 23vh !important; 
    width: 30% !important; 
  }
  .container{
    width: 125% !important;
  }
  .hero{
    width: 125% !important;
  }
  .hero-info{
    width: 280px !important;
    height: 150px !important;
  }
  .hero-data{
    padding: 130px 0px 0px 25px !important;
  }
  
  .hero-btn{
    margin-right: 8px !important;
    margin-top: 0px !important;
    height: 50px !important;
    width: 145px !important;
  }

  #hero-font1{
    font-size: 35px !important;
  }
  #hero-font3{
    font-size: 15px !important;
  }

  /* login.jsx */
  .inp-pass{
    width: 255px !important;
  }
  
  .view{
    height: 45px !important;
    width: 45px !important;
  }
  .userlink{
    padding: 10px !important;
  }
  .font2{
    font-size: 1.2rem !important;
  }

  /* signup.jsx */
  .inps{
    width: 148px !important;
  }
  
  .signup-data{
    width: 300px !important;
  }

  /* payment.jsx */
  
  .tabel-pay{
    width: 380px !important;
    height: 280px !important;
  }
  
  .log{
    width: 125% !important;
  }

  /* book.jsx */

  .prog-bar{
    width: 125% !important;
  }
      
  .bar{
    width: 95% !important;
  }

  }

  
  


  @media (max-width:320px){
    /* Navbar.jsx */
    .logo{
      height: 100px !important;
      width: 100px !important;
    }

    .nav-logo{
      height: 30px !important;
      width: 30px !important;
      object-fit: contain;
      border-radius: 50%;
    }

    .logo-img{
      height: 100px !important;
      width: 100px !important;
      object-fit: contain;
    }
    .nav-ul-info{
      height: 50px;
      width: 85% !important;
      text-align: center;
    }
    nav{
      height:70px;
      width: 135% !important;
    } 
    .nav-sign{
      height: 50px;
      width: 80% !important;
    }

    /* dashboard.jsx */
    .para-data{
      font-size: 1rem !important;
      text-align: justify !important;
    }
    .bookingstep{
      height: 550px !important;
      width: 90% !important;
    }
    .ol-dash{
      height: 350px !important;
      width: 70% !important;
    }

    .font3{
      font-size: 25px !important;
      font-weight: 700;
    }
    
    .log-btn{
      height: 35px !important;
      width: 70% !important;
    }

    .log{
      background-color: #ff9999;
      height: 100vh !important;
      width: 100% !important;
    }

    .dash{
      width: 125% !important;
    }
    
    /* booking.jsx */

    .p-booking{
      font-size: 20px !important;
    }
    .bookimg{
      height: 80px !important;
      width: 150px !important;
    }
    .font-booking{
      font-size: 30px !important;
    }
    .log-booking{
      width: 125% !important;
    }

    /* train.jsx */
    .log{
      display: flex !important;
      justify-content: center !important;
      align-items: center;
      width: 125% !important;
    }
    .logDetail{
      height: 350px !important;
      width: 350px !important;
    }
    .inp-log{
      height: 45px !important;
      width: 300px !important;
    }

    
  /* luggage.jsx */
  .font-lug{
    font-size: 1rem !important;
  }

  /* footer.jsx */

  footer{
    width: 135% !important;
  }

  .social{
    width: 80% !important;
  }

  .footer-ul{
    width: 80% !important;
  }


  /* coolie.jsx */

  .font3{
    font-size: 22px !important;
  }

  .res-who{
    height: 70vh !important;
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
  }
  .whoweare-img{
    width: 45% !important;
  }
  .container{
    height: 70vh !important;
    width: 100%;
  }
  .whoweare-data{
    width: 50% !important;
  }
  #res-who-img{
    height: 20vh !important; 
    width: 45% !important; 
  }
  .container{
    width: 135% !important;
  }

  .hero{
    width: 135% !important;
  }

  /* login.jsx */
  .inp-pass{
    width: 255px !important;
  }
  
  .view{
    height: 45px !important;
    width: 45px !important;
  }
  .userlink{
    padding: 10px !important;
  }
  .font2{
    font-size: 1.2rem !important;
  }
  
  /* signup.jsx */
  .inps{
    width: 148px !important;
  }
  
  .signup-data{
    width: 300px !important;
  }

  /* payment.jsx */
  .p-data{
    font-size: 1rem !important;
  }
  .tabel-pay{
    width: 330px !important;
    height: 240px !important;
  }
  .log{
    width: 135% !important;
  }

  /* book.jsx */

  .prog-bar{
    width: 135% !important;
  }
      
  .bar{
    width: 110% !important;
  }

  }